.about-me-container {
  background-color: #c58896b8;
  padding: 50px;
  padding-bottom: 50px;
}

.text-content{
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  background-color: #c58896b8;
}

.text-content img{
  width: 100%;
  height: auto;
  border-radius: 100%;
  padding: 50px;
}

.about-me-content {
  padding: 40px;
}
.about-me-content p{
  padding-bottom: 15px;
  font-weight: bold;
}


@media(min-width:800px){
  .text-content{
    grid-template-columns: 1fr 1fr;
  }
}
