.hero-container {
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: #2096BA; */
  /* background-color: #c58896b8; */
}

.text-box {
  padding: 50px 50px;
  width: 100%;
  position: absolute;
  top: 0px;
  /* background-color: #E7B183; */
  /* background-color: #2096BA; */
  background-color: #2096baa8;
  margin-top: 150px;
}

.hero-image {
  width: 100%;
  height: inherit;
  object-fit: cover;
  position: relative;

}

@media(min-width:600px){
  .text-box{
    margin-top: 150px;
  }
  .text-box h1{
    font-size: 80px;
  }
}

@media(min-width:900px){
  .text-box{
    margin-top: 200px;
  }
  .text-box h1{
    font-size: 100px;
  }
}

@keyframes color {
  0% {
    background: red;
  }

  40% {
    background: orange;
  }

  70% {
    background: purple;
  }

  100% {
    background: red;
  }
}


.test :hover {
  animation: color 1s ease-out;
}
