
.project{
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  background-color: #c58896b8;
  /* height: 80vh; */
  align-items: center;
}

.project-content {
  padding: 40px;
}

.project img{
  width: 100%;
  height: auto;
}

.project-content a {
  font-size: 16px;
  color: #2096BA;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

@media(min-width:800px){
  .project{
    grid-template-columns: 1fr 1fr;
    height: 80vh;
  }
}
