.start-contatiner {
  background-color: #C5D2DB;
  padding: 50px;
  text-align: center;
}

.skills-contatiner {
  background-color:#c58896b8;
  padding: 50px 0px;
  text-align: center;
}

.start-contatiner h2 {
  padding-top: 30px;
}


.start-contatiner button {
  margin: 50px 0px;
  font-weight: 400;
}
